tabulate
requests

# Frameworks web
# Django==2.2.10
# Flask==1.0

# Sérialisation / parsing (RCE)
# PyYAML==5.3.1

# Réseau / HTTP
# requests==2.19.1
# urllib3==1.24.1
# Machine Learning / modèles
#tensorflow==2.5.0

# Templates / utils
#Jinja2==2.10
#MarkupSafe==1.0
